#banner {
    position: relative;
}

#banner .form {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    top: 0%;
    color: #fff;
}

hr {
    border: 2px solid #fff;
}